.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #6c757d;
}
body{
   
}
.toast-body{
    display: flex;
    justify-content: center;
}
.toast{
    --bs-toast-max-width :450px;
}